.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .menuItem {
    display: inline-block;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    cursor: pointer;
    .title {
      text-transform: uppercase;
    }
    .note {
      font-size: 13px;
      font-style: italic;
      color: #acacac;
    }
    p {
      margin: 0
    }
  }
  .active {
    border-bottom: 3px solid #33a948;
    .title {
      color: #33a948;
      font-weight: bold;
    }
  }
}