.title {
  color: #246700;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
  font-family: UTMEdwardian;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
}

.name {
  font-size: 20px;
  color: #4a5462;
  text-align: center;
  text-transform: uppercase;
}

.iconIntroWrapper {
  text-align: center;
  margin-bottom: 40px;
}
.step {
  text-align: center;
  margin-bottom: 20px;
  height: 340px;
  padding: 15px;
  .icon {
    img {
      width: 90px;
    }
  }
  .stepText {
    font-weight: bold;
    color: #91c751;
    font-size: 22px;
    margin-top: 20px;
  }

  .step2Text {
    color: #0251a2;
  }
  .step3Text {
    color: #fd9733;
  }
  .step4Text {
    color: #bd9267;
  }
  .description {
    font-size: 18px;
    color: #525252;
  }
  .note {
    font-size: 14px;
    font-style: italic;
  }
}
