.basketWrapper {
  padding-top: 85px;
  padding-bottom: 85px;
  .basketContent {
    padding: 15px;
  }

  .products, .basketInfo {
    border: 1px solid #ddd;
    padding: 15px;
  }
}

.relativeProducts {
  padding: 15px;
}

.title {
  color: #246700;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: UTMEdwardian;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
}

.iconIntroWrapper {
  text-align: center;
}