.wrapper {
  padding: 100px 0 85px 0;
  .registerContent {
    max-width: 787px;
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    @media (max-width: 767px) {
      height: auto;
    }
  }
}