.wrapper {
  padding: 100px 0;
  .changeForgotPasswordForm {
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    height: 500px;
    @media (max-width: 767px) {
      height: auto;
      width: 100%;
      padding: 15px;
      background-color: transparent;
    }
  }
}