.loginForm {
  width: 400px;
  margin: 0 auto;
  .btnLogin {
    width: 165px;
    padding: 14px;
    color: #ffffff;
    background-color: #33a948;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}