.menuWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  padding: 20px 0;
  .logo {
    display: inline-block;
    position: absolute;
    left: 15px;
    img {
      width: 150px;
    }
  }
  .right {
    position: absolute;
    top: 24px;
    right: 15px;
    display: inline-block;
    .basketIcon {
      font-size: 20px;
      margin-right: 15px;
      vertical-align: middle;
      color: #33A57B;
    }
    .btnLogin {
      color: #ffffff;
      background-color: #33a948;
      border: none;
      padding: 10px 25px;
      border-radius: 4px;
      box-shadow: -4px -4px 20px 0 rgba(51,169,72,.2), 4px 4px 20px 0 rgba(51,169,72,.3);
    }
    .basketWrapper {
      display: inline-block;
      position: relative;
      .numberProduct {
        position: absolute;
        top: -10px;
        right: 3px;
        color: #ffffff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff5353;
        text-align: center;
        font-size: 11px;
        line-height: 20px;
      }
    }
  }
  .menu {
    list-style-type: none;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;
    background-color: transparent;
    max-width: 1024px;
    margin: 0 auto;
    .menuItem {
      a {
        text-decoration: none;
        cursor: pointer;
        color: #525252;
      }
    }

    .active {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #33a948;
        bottom: -5px;
      }
    }
  }
}

.whiteBg {
  background-color: #ffffff;
}