.wrapper {
  padding: 15px;
  overflow: hidden;
  clear: both;
  text-align: right;
  background-color: #fcfcfc;
  .label { 
    margin-right: 20px;
  }
  .facebookButton {
    margin-right: 10px;
  }
}