.btnPayment {
  display: block;
  width: 100%;
  color: #ffffff;
  background-color: #33a948;
  border: none;
  padding: 10px;
  border-radius: 4px;
  box-shadow: -4px -4px 20px 0 rgba(51,169,72,.2), 4px 4px 20px 0 rgba(51,169,72,.3);
}

.amount {
  border-bottom: 1px solid #dddddd;
}

.amount {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}

.right {
  float: right;
}

.amountRow {
  margin-bottom: 10px;
}