.productWrapper {
  margin-bottom: 20px;
  .imageWrapper {
    img {
      max-width: 100%;
    }
  }
}

.newAmount {
  font-size: 15px;
  color: #242424;
  font-weight: 500;
  padding: 0;
  text-align: left;
}

.oldAmount {
  font-size: 11px;
  color: #a2a2a2;
  text-decoration: line-through;
  text-align: left;
  font-weight: 300;
}