.title {
  color: #246700;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: UTMEdwardian;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  @media (max-width: 767px) {
    font-size: 22px
  }
}

.iconIntroWrapper {
  text-align: center;
  margin-bottom: 30px;
}