.wrapper {
  padding: 100px 0;

  .changePasswordForm {
    width: 50%;
    margin: 0 auto;
    height: 500px;
    background-color: #fff;
    padding: 50px;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      padding: 15px;
      background-color: transparent;
    }
  }
}
