.footer {
  background-image: url('../../assets/background-footer.png');
  text-align: center;
  color: #ffffff;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  .title {
    font-size: 16px;
  }
}