.container {

  .banner {
    height: 300px;
    text-align: center;
    @media (max-width: 767px) {
      height: auto;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .intro {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    font-weight: 200;
    color: #0000ff;
    font-style: italic;
  }
}
.title {
  color: #246700;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
  font-family: UTMEdwardian;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  @media (max-width: 767px) {
    font-size: 22px
  }
}

.name {
  font-size: 40px;
  color: #4a5462;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: 18px
  }
}

.iconIntroWrapper {
  text-align: center;
  margin-bottom: 40px;
}

.titleText {
  text-align: center;
  font-family: UTMEdwardian;
  font-size: 50px;
  @media (max-width: 767px) {
    font-size: 22px;
    margin-top: 20px;
  }
  span {
    color: #246700;
  }
}

.description {
  text-align: center;
  line-height: 30px;
  padding: 0 15px !important;
  margin-bottom: 21px !important;
  font-size: 15px;
}