.cateogryItem {
  height: 230px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);
  background-color: #ffffff;
  margin-bottom: 20px;
  background-color: #33a948;
  border-radius: 10px;
  .imgaeWrapper {
    text-align: center;
    height: 190px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  .categoryInfo {
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: UTMAvoBold;
    color: #000000;
  }
}
